.jumbotron-addbicycle {
	position: relative;
	height: 100vh;
	background-color: rgb(219, 216, 202);
	margin-bottom: 0px;
	padding-top: 0px;
}

.jumbotron-addbicycle h1 {
	writing-mode: vertical-rl; 
	position: absolute;
	left: 20%;
	top: 20%;
	text-shadow: 2px 2px rgb(237, 220, 164);
}

#addbike-image {
	background-image: url(../images/addbike-img.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
}

#addbike-form {
	font-family: 'Oswald', sans-serif;
	position: absolute;
	left: 0;
	top: 25%;
}

#addBikeBtn {
	width: 100%;
  	box-shadow: 2px 2px #888888;
}